

/* Page Style */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cyan;
    margin: 20px;
}

/* Heading */
h1{
    color: blue;
    text-align: center;
    margin-top: 40px;
}

/* Form */
form{
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: cornsilk;
    border-radius: 10px;
}

/* Labels */
label{
    font-size: 18px;
    font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Radio buttons */
input[type="radio"]{
    margin-right: 5px;
}

/* Submit button */
input[type="submit"]{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Hover effect */
input[type="submit"]:hover{
    background-color: blue;
    cursor: pointer;
}

/* Address box */
textarea{
    resize: vertical;
}